################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/CacheSimulator/v16
/CacheSimulator/x64/Debug
*.user
